*{
    font-family: 'Roboto', 'Segoe UI', 'Inter', Arial, sans-serif;
}
body {
    display: flex;
    padding-top: 20px;
    padding-left: 620px;
    background-color: #23272f;
    text-decoration: solid;
}

.f-border {
    display: flex;
    background-color: #23272f;
    border: 4px solid #444b57;
    border-radius: 40px;
    height: 20cm;
    width: 10cm;
    align-self: center;
}

.s-border {
    display: flex;
    background-color: #23272f;
    border: 12px solid #444b57;
    border-radius: 37px;
    height: 19.4cm;
    width: 14cm;
}

.l-border {
    display: flex;
    flex-direction: column;
    height: 19.cm;
    width: 9.3cm;
    border: 2px solid #444b57;
    border-radius: 26px;
    align-content: center;
    background-color: #23272f;
}

.output {
    display: flex;
    height: 55%;
    width:99.3%;
    border-bottom: none;
    background-color: #1e1e1e;
    border: 2px solid #444b57;
    position: relative;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    align-items: center;
}

#result{
    height: 350px;
    width: 300px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 0 auto;
    color: #ff9500;
    background-color: #23272f;
    padding: 16px 24px;
    text-align: right;
    letter-spacing: 2px;
    font-size: 1.5cm;
}

.btns{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 99.3%;
    align-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    padding: 16px 24px;
}

.btn {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 70px;
    align-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    font-size: xx-large;
    border-radius: 10px;
    background-color: #3a3f4b;
    border: 2px solid #444b57;
    color: #fff;
    transition: background 0.2s;
}
.btn:hover {
    background-color: #575e6b;
}

.row1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.row2 {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.row3 {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.row4 {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.row5 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-text{
    height: 40px;
    width: 20px;
    text-align: center;
}

.btnclear{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 300px;
    gap: 10px;
    font-size: xx-large;
    border-radius: 10px;
    background-color: #ff9500;
    color: #fff;
    border: 2px solid #444b57;
    padding: 8px 20px;
}

.btnclear:hover {
    background-color: #e7a918;
}
